""" This file has been generated automatically by Rosetta at {{ time }} as a http_request tool. """
from __future__ import annotations

import requests
import typing
import os

import rosetta.core.tool

{{ input.code if input is not none else '' }}

@rosetta.core.tool.tool(infer_schema=True)
def {{ tool_metadata.name }}({% if input is not none %}argument_input: {{ input.type_name }}{% endif %}) -> str:
    """
    {{ tool_metadata.description }}
    """

    {% if input is not none %}
    # We need to safeguard against weird LLM function calls.
    if isinstance(argument_input, dict):
        named_parameters = argument_input
    elif isinstance(argument_input, {{ input.type_name }}):
        named_parameters = argument_input.dict()
    else:
        raise ValueError("Bad input given to HTTP request tool!")
    {% endif %}

    for url in {{ urls }}:
        response = requests.request(
            '{{ method }}',
            url,

        )