""" This file has been generated automatically by Rosetta at {{ time }} as a semantic_search tool. """
from __future__ import annotations

import couchbase.auth
import couchbase.options
import couchbase.cluster
import couchbase.search
import couchbase.vector_search
import typing
import json
import sentence_transformers
import os

import rosetta.core.tool

{{ input.generated_code }}

# TODO (GLENN): Handle this better.
def _get_couchbase_cluster() -> couchbase.cluster.Cluster:
    authenticator = couchbase.auth.PasswordAuthenticator(
        username=os.getenv('CB_USERNAME'),
        password=os.getenv('CB_PASSWORD')
    )
    conn_string = os.getenv('CB_CONN_STRING')
    return couchbase.cluster.Cluster(conn_string, couchbase.options.ClusterOptions(authenticator))


@rosetta.core.tool.tool(infer_schema=True)
def {{ tool_metadata.name }}(question: {{ input.type_name }}) -> list[str]:
    """ {{ tool_metadata.description }} """
    cluster = _get_couchbase_cluster()
    bucket = cluster.bucket('{{ tool_metadata.vector_search.bucket }}')
    scope = bucket.scope('{{ tool_metadata.vector_search.scope }}')
    collection = scope.collection('{{ tool_metadata.vector_search.collection }}')

    # We need to safeguard against weird LLM function calls.
    if isinstance(question, dict):
        formatted_question = json.dumps(question)
    elif isinstance(question, str):
        formatted_question = question
    elif isinstance(question, {{ input.type_name }}):
        formatted_question = json.dumps(question.dict())
    else:
        raise ValueError("Bad input given to tool!")

    embedding_model = sentence_transformers.SentenceTransformer('{{ tool_metadata.vector_search.embedding_model }}')
    _embedding = embedding_model.encode(formatted_question)
    for_q = list(_embedding.astype('float64'))
    vector_req = couchbase.vector_search.VectorSearch.from_vector_query(
        couchbase.vector_search.VectorQuery('{{ tool_metadata.vector_search.vector_field }}', for_q, num_candidates={{ tool_metadata.vector_search.num_candidates }})
    )
    search_req = couchbase.search.SearchRequest.create(couchbase.search.MatchNoneQuery())
    search_req = search_req.with_vector_search(vector_req)
    search_opt = couchbase.options.SearchOptions(fields=["*"])
    search_result = scope.search('{{ tool_metadata.vector_search.index }}', search_req, search_opt)

    tool_results = []
    for r in search_result.rows():
        tool_results.append(collection.get(r.id).content_as[dict]['{{ tool_metadata.vector_search.text_field }}'])
    return tool_results
