""" This file has been generated automatically by Rosetta at {{ time }} as a sqlpp_query tool. """
from __future__ import annotations

import couchbase.auth
import couchbase.options
import couchbase.cluster
import logging
import typing

from rosetta.core.tool import tool
from rosetta.core.tool.generate.secrets import get_secret

logger = logging.getLogger(__name__)

{{ input.generated_code }}
{{ output.generated_code }}

def _get_couchbase_cluster() -> couchbase.cluster.Cluster:
    authenticator = couchbase.auth.PasswordAuthenticator(
        username=get_secret("{{ secrets.username }}"),
        password=get_secret("{{ secrets.password }}")
    )
    conn_string = get_secret("{{ secrets.conn_string }}")
    return couchbase.cluster.Cluster(conn_string, couchbase.options.ClusterOptions(authenticator))

@tool(infer_schema=True)
def {{ tool.name }}(argument_input: {{ input.type_name }}) \
        -> {% if output.is_list_valued %}list[{{ output.type_name }}]{% else %}{{ output.type_name }}{% endif %}:
    """
    {{ tool.description }}
    """
    logger.debug("{{ tool.name }} has been called.")
    cluster = _get_couchbase_cluster()

    # We need to safeguard against weird LLM function calls.
    logger.debug("{{ tool.name }} has been given the input: " + str(argument_input) + ".")
    if isinstance(argument_input, dict):
        named_parameters = argument_input
    elif isinstance(argument_input, {{ input.type_name }}):
        named_parameters = argument_input.dict()
    else:
        raise ValueError("Bad input given to SQL++ tool!")

    query_results = cluster.query(
        """ {{ query }} """,
        couchbase.options.QueryOptions(named_parameters=named_parameters)
    )

    tool_results = []
    {% if output.is_list_valued %}
    for result in query_results:
        tool_results.append({{ output.type_name }}(**result))
    logger.debug("{{ tool.name }} has returned the following: " + str(tool_results))
    return tool_results
    {% else %}
    for result in query_results:
        final_result = {{ output.type_name }}(**result)
        logger.debug("{{ tool.name }} has returned the following: " + str(final_result))
        return final_result
    {% endif %}